
.cart-price-details{
    width: 25rem;
    display: inline-block;
    padding: 1rem;
    background-color: var(--light-bg);
}

.current-qty-no{
    display: inline-block;
    padding: 0.2rem 1rem;
    border: 1px solid var(--primary-bg);
} 
  
.cart-card-content{
    width: 60%;
}

.cart-Card {
    max-width: 30rem;
}