
.address-modal-wrapper{
    position: absolute;
    top: 6rem;
    z-index: 5;
    left: 50%;

}
/* .address-modal{
    background-color: gray;
} */

.address-modal  input{
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.address-modal-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}