.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  gap: 1rem 0;
}

.search-input-wrapper {
  flex-grow: 2;
  margin-left: 1rem;
  position: relative;
}

.show-suggestion-search {
  position: absolute;
  width: 85%;
  background-color: var(--white-bg);
  margin: 0rem 4rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.show-suggestion-search li {
  list-style: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.2rem;
  cursor: pointer;
  border: 0.1px solid transparent;
}

.show-suggestion-search li:hover {
  background-color: var(--white-color);
  border: 0.1px solid var(--gray-bg);
}

.nav-bg-primary {
  background-color: var(--white-color);
}

.nav-text-primary {
  color: var(--gray-color);
}

.nav-badge-primary {
  background-color: var(--red-bg);
  color: var(--white-color);
}

.nav-btn-primary {
  background-color: var(--transparent-bg);
  line-height: 1rem;
  gap: 0.5rem;
}

.btn-secondary {
  color: var(--white-color);
  background-color: var(--gray-bg);
}

.nav-input-width {
  width: 85%;
  margin: 0 4rem;
}

@media screen and (max-width: 730px) {
  .search-bar {
    order: 2;
  }
  .nav-input-width {
    margin: 0 2rem;
  }
}
