.product-items-container {
  padding: 2rem;
  width: 80%;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 650px) {

  .products-page-heading{
    margin-top: 1rem;
  }

  .products-page-responsive {
    flex-direction: column;
  }
  .product-items-container {
    width: 100%;
  }
}
